<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.citycareservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityCareService"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name="com.app.citycareservice.ui.activities.service.ServiceBooking"
            android:exported="false" />
        <activity
            android:name="com.app.citycareservice.ui.activities.service.BookServicesActivity"
            android:exported="true"
            android:theme="@style/blackActionBar"></activity>
        <activity
            android:name="com.app.citycareservice.ui.activities.settings.SupportActivity"
            android:exported="false" />
        <activity
            android:name="com.app.citycareservice.ui.activities.settings.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name="com.app.citycareservice.ui.activities.settings.ScheduledBookingsActivity"
            android:exported="false" />
        <activity
            android:name="com.app.citycareservice.ui.activities.authentication.EditProfileActivity"
            android:exported="false"
            android:theme="@style/blackActionBar" />
        <activity
            android:name="com.app.citycareservice.ui.activities.settings.ManageAddressActivity"
            android:exported="false"
            android:theme="@style/whiteActionBar" />
        <activity
            android:name="com.app.citycareservice.ui.activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.citycareservice.ui.activities.MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->


            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.app.citycareservice.ui.activities.authentication.AddDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.app.citycareservice.ui.activities.service.SearchActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.app.citycareservice.ui.activities.service.ServiceCategoryDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.app.citycareservice.ui.activities.service.ServiceDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.app.citycareservice.ui.activities.authentication.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>

        <service
            android:name="com.app.citycareservice.service.UpdateProfileService"
            android:exported="false" />
    </application>

</manifest>